.auth-container {
  width: 350px;
  margin: 40px auto;
  text-align: center;
}

.radio-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.auth-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

button {
  padding: 10px;
  font-size: 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.otp-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.otp-box {
  width: 45px;
  height: 45px;
  font-size: 22px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.timer-text {
  font-size: 14px;
  margin-top: 5px;
}

.resend-btn {
  background: none;
  color: blue;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
